.main_content {
    overflow-y: auto;
    max-height: calc(100vh - 61px); 
}


/* root */

:root {
    --font_12: 12px;
    --font_16: 16px;
    --font_28: 28px;
}

/* Navbar - top */
.navbar_top{
    background-color: white;
}

.logo_mobile {
    height: 40px;
    width: 100%;
}

.navbar_top_search {
    background-color: #e5e5e5;
    border-radius: 5px;
}

.navbar_top_search > input {
    background-color: #e5e5e5;
}

.navbar_top_search > .fa-magnifying-glass {
    font-size: 14px;
}

.ms_navbar,
.main_content {
    background-color: #f8f9fa;
}

::placeholder {
    color: #777777;
    font-size: var(--font_12);
}

.navbar_top_menu-items {
    padding-left: 5px;
    padding-right: 10px;
    color: #5b5858;
}

.navbar_top_menu-items a {
    color: #5b5858;
}

.fa-bell {
    color: #ff8f00;
}

/* Navbar - side */

.app_content .side_bar {
    background-color:  #041e34;
    background-image: url(../img/sidebar-bg.png);
    width: 65px; 
    height: 100%;
}

.app_content .navbar_side {
    height: 100%;
}

.navbar_side-menu-items {
    display: flex;
    margin-bottom: 18px;
}

.icon_wrapper {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar_side-text {
    font-size: var(--font_16);
}

/* Main content - header */

.main_content-header {
    background-color: #1d72e8;
}

.content_title {
    font-size: var(--font_28);
}

.ms_btn {
    text-decoration: none;
    color: white;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 3px 7px;
    border-radius: 20px;
}

.content_header-students,
.new_student,
.ms_table {
    font-size: var(--font_12);
}

.header_plans-icon > a {
    font-size: var(--font_12);
}

/* Prossime classi table */

td > img {
    width: 20px;
    height: 20px;
}

.table_icons {
    display: inline-block;
    border: 1px solid grey;
    text-align: center;
    line-height: 20px;
    width: 20px;
    border-radius: 3px;
    margin-right: 3px;
}

/* FAQ */

.ms_accordion-body {
    font-size: var(--font_12);
}

button.ms_accordion-header,
label.ms_form-check-label,
.ms_card-text {
    font-size: 12px;
}




/* Media Query - Responsive */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

.app_content .side_bar {
    width: 150px;
}

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

 }






























/* debug */

/* .debug .ms_navbar, 
.debug .app-content, 
.debug .side-bar, 
.debug .main-content {
    border: 2px solid red;
    padding: 5px;
}

.debug #app {
    border: 2px solid green;
    padding: 5px;
} */

.debug [class^=col-] {
    border: 2px solid violet;
    padding: 2px;
}

.debug .row {
    border: 2px solid orange;
    padding: 2px;
}

.debug .container,
.debug .container-fluid {
    border: 1px solid blue;
}